body {
    background-image: url("../parsons/picture/background.png");
    background-repeat: no-repeat;
    background-size: auto;
}
main { 
    max-width: 1500px; 
    margin: 0 auto; 
    background-image: url("../parsons/picture/background.png");
    font-family: 'Montserrat', sans-serif;}


section { max-width: 1500px; margin: 20px auto; padding: 20px 20px; font-family: 'Montserrat', sans-serif;}
img {width: 100%}
figure {width: 50%; margin: auto; text-align: center;font-family: 'Montserrat', sans-serif;}
figcaption {
    max-width: 700px; 
    margin: auto; 
    text-align: center; 
    padding: 0 20px; 
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 600px) {
    
}


    
.rect1 {
    position: absolute;
    top: 0;
    left: 0; 
    width: 40%; /*454px;  */
    height: 40%; /* height: 518px;  */
    background-color: #402653; 
    transition: transform 0.3s ease;
}

.rect1:hover {
    position: absolute;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0; 
    width: 40%; /*454px;  */
    height: 40%; /*height: 518px;  */
    background-color: #402653; 
    transform: translateY(5px);
}

.rect1 .rect1texthover {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25pt;
    position: absolute;
    opacity: 0;
    margin: auto;
    top: 86%;
    right: 2%;  
    color: #F3E0D1;
    z-index: 9999;
    
}
.rect1 .rect1texthover a{
    text-decoration: none;
    color: inherit;
}

.rect1:hover .rect1texthover{
    opacity: 1;
    text-decoration: none;
    
}

#rect2 {
    position: absolute;
    top: 0;
    left: 41%; 
    width: 9%; 
    height: 40%; 
    background-color: #4F4F51; 
}

.rect3 {
    position: absolute;
    /* left: 1046px;   */
    top: 0;
    right: 0px;  
    width: 49%; /* width: 454px; */
    height :46%; /*height: 518px;  */
    background-color: #F68F7C; 
    cursor: pointer;
}
.rect3:hover {
    position: absolute;
    opacity: 0.3;
    top: 0;
    right: 0px;  
    width: 49%; /* width: 454px; */
    height :46%; /*height: 518px;  */
    background-color: #F68F7C; 

}

.rect3 .rect3texthover {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25pt;
    position: absolute;
    opacity: 0;
    margin: auto;
    top: 86%;
    left: 7%;  
    color: #F3E0D1;
    z-index: 9999;
}

.rect3:hover .rect3texthover{
    opacity: 1;
}
.rect3 .rect3texthover a{
    text-decoration: none;
    color: inherit;
}

.rect4 {
    position: absolute;
    top: 41%;
    left: 0;  
    width: 45%; 
    height: 18%; 
    background-color: #E8B19D; 
}
.rect4:hover {
    position: absolute;
    opacity: 0.3;
    top: 41%;
    left: 0;  
    width: 45%; 
    height: 18%; /*height: 518px;  */
    background-color: #E8B19D; 

}

.rect4 .rect4texthover {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25pt;
    position: absolute;
    opacity: 0;
    margin: auto;
    top: 2%;
    left: 75%;  
    color: #F3E0D1;
    z-index: 9999;
}

.rect4:hover .rect4texthover{
    opacity: 1;
}
.rect4 .rect4texthover a{
    text-decoration: none;
    color: inherit;
}
.rect5 {
    position: absolute;
    bottom:0%; 
    left :52%;
    width: 22%; 
    height: 52%; 
    background-color: #62232D; 
}
.rect5:hover {
    position: absolute;
    opacity: 0.3;
    right: 0; 
    bottom:0%; 
    width: 25%; 
    height: 52%; /*height: 518px;  */
    background-color: #2C2B30; 

}

.rect5 .rect5texthover {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 25pt;
    position: absolute;
    opacity: 0;
    margin: auto;
    top: 2%;
    left: 3%;  
    color: #F3E0D1;
    z-index: 9999;
}

.rect5:hover .rect5texthover{
    opacity: 1;
    text-decoration: none
}

.rect5 .rect5texthover a{
    text-decoration: none;
    color: inherit;
}
#rect6 {
    position: absolute;
    right: 0; 
    bottom:0%; 
    width: 25%; 
    height: 52%; 
    background-color: #2C2B30; 
}

#rect7 {
    position: absolute;
    left: 0; 
    bottom: 0; 
    width: 51%; 
    height: 40%; 
    background-color: #2C2B30; 
}


.homelogo {
    width: 20%;  
    position: fixed;
    top: 35%;
    left: 38%; 
    z-index: 9999;
}